DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_DATABASE="postgres"
SECRET_KEY="example"
LLM_BASE_URL=''
LLM_API_KEY=''
LLM_MODEL=''
TEMP_STUB_LLM='true'
# If you edit this file, you need to confirm CI still runs.
# See Makefile "ci-setup-as-needed" target
