{% extends 'base.html' %}

{% block title %}Developer Portal Index page{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>CueCode Developer Portal</h1>
    <p>This is a page that will very simply show the option to upload
        an API spec. If the user is not logged in, it should redirect them
        to the login page via <code>Flask Session</code> config.
    </p>
    <p>
        <!-- Example of using url_for in a Blueprint context: -->
        <a href="{{ url_for('portal.upload_spec') }}">Link to upload</a>
    </p>
</div>
{% endblock %}
