{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Upload OpenAPI Specification</h2>
        
        <form method="post" enctype="multipart/form-data" class="mt-3">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.spec_file.label(class="form-label") }}
                {{ form.spec_file(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
{% endblock %}
